*{
    background-color: blueviolet;
    text-align: center;
}
.a{
    background-color: green;
    margin-right: 5px;
}
.b{
    background-color: red;
    margin-right: 5px;
}
.c{
    background-color:white;
    margin-right: 5px;
}